*{
    margin: 0;
    padding: 0;
}
body{
    background-color: darkslategrey;
}
header{
    color: white;
    background-color: rgb(104, 49, 118);
    text-align: center;
    font-size: 24px;
    padding: 10px;
}
section{
    margin: 1%;
    padding: 1%;
    text-align: center;
    border-radius: 20px;
}
h2{
    margin-bottom: 10px;
    color: aliceblue;
}
p{
    background-color: cadetblue;
    border-radius: 20px;
    padding: 12px 0;
}
.impecablesPalabras {
    /*background-color: cadetblue;*/
    width: 45%;
    display: inline-block;
}

/*cuando tengo un elemento en bloque y quiero volverlo en lineautilizo la propiedad display inline blockcuando tengo un elemento en linea y quiero volverlo un elemento en bloque es display block*/
.noTomarPersonal {
    /*background-color: cadetblue;*/
    width: 45%;
    display: inline-block;
}

.noAdivines {
    /*background-color: cadetblue;*/
    width: 45%;
    display: inline-block;
}

.hazloMejor {
    /*background-color: cadetblue;*/
    width: 45%;
    display: inline-block;
}